*{
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 65, 46);
}
main{
    display: flex;
    justify-content: center;
}
section{
    margin:2rem;
    min-width: 25vw;
    border: 1px solid rgb(199, 199, 219);
    
}
.container{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
.container-head h1{
    color:rgb(4, 41, 9);

}
.container-foot{
    padding:.5rem;
    text-align: center;
    background-color: rgb(30, 129, 210);
    color:white;
}

textarea{
    padding:1rem;
    width:100%;
}
